
 a{
	color: #7D5939 !important;
}
.navbar-expand-lg{
	background-color:#DAD8D0 ;
		
} 
.menu{
	margin-left: 200px;
}
.footer{
	background-color:#DAD8D0 ;	
}
.text-footer{
	color: #7D5939 !important;	
}
